<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <%- include('partials/header') -%>
    <div class="container">
      <h1>Blog Home Page</h1>
      <button type="submit"><a href="/articles">See all Articles</a></button>
    </div>
    <%- include('partials/footer') -%>
  </body>
</html>
