<div class="btn-holder">
  <a href="/books/new">Add Book</a>
  <a href="/books">All Books</a>
  <a href="#">Top <i class="ri-arrow-up-s-line"></i></a>
</div>
<footer class="footer">
    <span>&copy; CopyRight 2020</span>
    <div class="social-media">
      <a href="#"><span><i class="ri-facebook-circle-line"></i></span></a>
      <a href="#"><span><i class="ri-instagram-line"></i></span></a>
      <a href="#"><span><i class="ri-twitter-fill"></i></span></a>
      <a href="#"><span><i class="ri-linkedin-fill"></i></span></a>
      <a href="#"><span><i class="ri-mail-fill"></i></span></a>
    </div>
</footer>