<div class="header">
  <div>
    <a class="logo" href="/">
      <span>iBookStore</span>
    </a>
  </div>
  <div class="social-media">
    <a href="#"><i class="ri-facebook-circle-line"></i></a>
    <a href="#"><i class="ri-instagram-line"></i></a>
    <a href="#"><i class="ri-twitter-fill"></i></a>
    <a href="#"><i class="ri-linkedin-fill"></i></a>
    <a href="#"><i class="ri-mail-fill"></i></a>
  </div>
</div>